<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="BaseURL" value="https://shasta.postalweb.net/Account/LogOn" />
        <add key="Browser" value="chrome" />
        <add key="timeout" value="30" />
        <add key="DriverPath" value="/home/wers4/Projects/pw_shasta_wbi/pw_shasta_wbi" />
    </appSettings>
</configuration>
